@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@-ms-viewport {
    width: device-width
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit
}

.dropdown:hover .dropdown-menu {
    display: block;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

hr {
    max-width: 420px;
    background-color: coral;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.download-icon {
    transition: transform .2s;
    margin: 0 auto;
}

.download-icon:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: coral;
    transition: all .2s ease-in;
}

a:hover {
    text-decoration: none;
    color: orange;
    transition: all .2s ease-in;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: coral;
    color: white;
    cursor: pointer;
    padding: 15px;
    padding-right: 19px;
    padding-left: 19px;
    font-size: 18px;
    transition: all .2s ease-in;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: orange;
    transition: all .2s ease-in;
}

#head {
    background-image: url("../img/background.png");
    color: darkslateblue;
    margin: 0;
    padding: 222px 0px 222px 0px;
    text-align: center;
}

#head h1 {
    font-size: 55px;
    font-weight: 700;
}

#head h3 {
    font-size: 22px;
}

#about {
    text-align: center;
    padding-top: 66px;
    padding-bottom: 66px;
    background-color: black;
}

#about h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
    color: white;
}

#about .features {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 66px;
}

#about .feature {
    font-size: 60px;
    color: white;
    margin-top: 17px;
}

#about h2 {
    margin-top: 5px;
    font-size: 20px;
}

#about p {
    margin-top: 3px;
    font-size: 18px;
    color: white;
}

#banner {
    background-image: url("../img/banner1.png");
    padding: 75px 0px 75px 0px;
    text-align: center;
}

#banner2 {
    background-image: url("../img/banner2.png");
    padding: 75px 0px 75px 0px;
    text-align: center;
}

#banner h1 {
    font-size: 30px;
    font-weight: 700;
    color: darkslateblue;
}

#banner h2 {
    margin-top: 5px;
    font-size: 20px;
    color: darkslateblue;
}

#banner2 h1 {
    font-size: 30px;
    font-weight: 700;
    color: firebrick;
}

#banner2 h2 {
    margin-top: 5px;
    font-size: 20px;
    color: firebrick;
}

.update {
    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: black;
}

.update h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
    color: white;
}

.update h2 {
    margin-top: 5px;
    font-size: 20px;
    color: white;
}

.update p {
    margin-top: 3px;
    font-size: 18px;
    color: white;
}

.update .second-color {
    background-color: darkslateblue;
    padding: 0;
}

.update .mode {
    margin: 15px;
    text-align: left;
    padding: 50px;
    max-width: 1280px;
}

.update .mode-inv {
    margin: 15px;
    text-align: right;
    padding: 50px;
    max-width: 1280px
}

@media screen and (min-width: 800px) {
    .update .img {
        margin: 15px;
        padding: 50px;
        max-width: 1280px
    }
}

@media screen and (max-width: 799px) {
    .update .img {
        padding: 50px 0px 50px 0px;
    }
}

.update .fixed-width {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    .res-img {
        width: 480px;
    }
}

@media screen and (max-width: 799px) {
    .res-img {
        width: 100%;
    }
}

#download {
    text-align: center;
    padding-top: 66px;
    padding-bottom: 66px;
    background-color: black;
    color: white;
}

#download h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
}

#download h2 {
    margin-top: 5px;
    font-size: 20px;
}

#download p {
    margin-top: 3px;
    font-size: 18px;
}

#download .downlist {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 66px;
}

#download .downblock {
    transform: none;
    transition: all .2s ease-in;
}

.downblock a {
    font-weight: 700;
}

.drop-arrow {
    margin: 10px 0px;
    color: coral;
}

@media screen and (min-width: 800px) {
    .res-img-sm {
        height: 110px;
    }
}

@media screen and (max-width: 799px) {
    .res-img-sm {
        width: 100%;
    }
}